body.modal-open {
    overflow: hidden !important;
}

div.form-group {
    &>label {
        font-weight: 500;
    }

    &>div.react-tags.custom-react-tags {
        padding: 2px 10px !important;
        min-height: 32px !important;
        // padding: 10px 10px 0 !important;
        border-radius: 0.2rem;

        &>.react-tags__search {
            padding: 0 !important;
            margin: 0 !important;

            &>.react-tags__search-input>input {
                margin: 0 !important;
                padding: 0 !important;
            }
        }

        &>.react-tags__selected {
            vertical-align: middle;

            &>button.react-tags__selected-tag {
                padding: 3px 5px !important;
                margin-top: 3px !important;
                margin-bottom: 3px !important;
                margin-right: 5px !important;
            }
        }
    }

    &.form-group-inline {
        &>.inline-label {
            line-height: 32px;
        }

        &>.form-control,
        &>div.react-tags.custom-react-tags {
            flex: 1;
        }

    }

    &>div.react-datepicker-wrapper {
        width: 100%;
    }

    &>.react-datepicker-popper .react-datepicker--time-only .react-datepicker__time-container {
        width: 100px !important;

        &>.react-datepicker__time>.react-datepicker__time-box {
            width: 100% !important;
        }
    }

    &.error div.invalid-feedback{
        display: block;
    }
}

.form-control {

    &,
    & .form-control-sm {
        padding: 4px 10px !important;
        height: 32px !important;
        // border-radius: 0 !important;
    }
}

.input-group {
    &>.input-group-prepend {
        &>.input-group-text {
            padding: 4px 12px !important;
        }
    }
}

.custom-form-check-inline {
    display: flex;
    flex-wrap: wrap;

    &>div.form-check-inline {
        display: flex;
        margin: 0 0.75rem 0 0 !important;
        min-height: 32px;

        &>label.form-check-label {
            margin: 0;
        }
    }
}

div.modal-dialog {
    & .modal-header .close {
        margin: -15px -15px -25px auto
    }

    &.modal-lg {
        height: 100% !important;
    }

    &.modal-1030px {
        width: 1030px !important;
    }
}